<% layout('layouts/boilerplate')%>
    <link rel="stylesheet" href="/stylesheets/stars.css">
    <link rel="stylesheet" href="/stylesheets/css/social-share-kit.css" type="text/css">
    <script type="text/javascript" src="/javascripts/social-share-kit.js"></script>

    <div class="row">
        <div class="col-6">
            <div class="card mb-3">
                <img src="<%= playlist.image%>" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">
                        <a href="<%=playlist.link%>" class="link-dark text-decoration-none" target="_blank">
                            <%= playlist.title%>
                        </a>
                    </h5>
                    <p class="card-text mb-1">
                        <%= playlist.description%>
                    </p>
                    <div class='flex-row'>
                        Share:
                        <div class="ssk-group">
                            <!-- Facebook button below is broken, href error when clicking -->
                            <a href="" class="ssk ssk-facebook"></a>
                            <a href="" class="ssk ssk-twitter"></a>
                        </div>
                    </div>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <div class="flex-row d-flex">
                            <a class='link-dark text-decoration-none' href="/profiles/<%= playlist.author.username%>"
                                target="_blank">Posted by: <%= playlist.author.username%>
                            </a>
                            <!-- Follow and unfollow buttons -->
                            <% if(currentUser) {%>
                                <!-- If user is following, display unfollow button -->
                                <% if(currentUser['following'].includes(playlist.author._id)) {%>
                                    <h6 class="card-title ml-2 text-secondary">
                                        <form action="/unfollow_from_index" method="POST">
                                            <input type="hidden" name="current_url" value=<%=playlist._id%> />
                                            <button name='unfollow' class="btn btn-outline-secondary btn-sm"
                                                type="submit" value="<%=playlist.author.username%>"
                                                id="unfollow">Unfollow</button>
                                        </form>
                                    </h6>
                                    <!-- Otherwise, if user isn't following, display follow button -->

                                    <% } else {%>
                                        <h6 class="card-title ml-2 text-secondary">
                                            <form action="/follow_from_index" method="POST">
                                                <input type="hidden" name="current_url" value=<%=playlist._id%> />
                                                <button name='follow' class="btn btn-outline-dark btn-sm" type="submit"
                                                    value="<%=playlist.author.username%>" id="follow">Follow</button>
                                            </form>
                                        </h6>
                                        <% } %>
                                            <% }%>
                        </div>
                    </li>
                    <li class="list-group-item ">
                        Average Rating: <%= playlist.avg_rev %>/5 | Ratings: <%= playlist.num_revs %>
                    </li>
                    <li class="list-group-item">Number of Tracks: <%= playlist.num_tracks%>
                    </li>
                    <!-- Display tag field only if there is one or more tag on the playlist-->
                    <% if(playlist.tags.length> 0){%>
                        <li class="list-group-item">Tags:
                            <% for(let tag of playlist.tags) { %>
                                <%=tag%>.
                                    <% } %>

                        </li>
                        <% }%>
                            <li class="list-group-item text-muted">
                                <a href="<%=playlist.owner_url%>" class="link-dark text-decoration-none"
                                    target="_blank">
                                    Original Creator: <%= playlist.owner%>
                                </a>
                            </li>
                </ul>
                <!-- Only displays delete button if user owns the post -->
                <% if( currentUser && playlist.author.equals(currentUser._id)) {%>
                    <div class="card-body">
                        <form class="d-inline" action="/playlists/<%=playlist._id%>?_method=DELETE" method="POST">
                            <a class="card-link btn btn-info" href="/playlists/<%=playlist._id%>/edit">Edit</a>
                            <button class="btn btn-danger">Delete</button>
                        </form>
                    </div>
                    <% } %>
                        <div class="card-footer text-muted">
                        </div>
                        <div>
                            <a href="/playlists" class="ml-2 link-dark">Return to All Playlists</a>
                        </div>
            </div>

        </div>
        <div class="col-6">
            <!-- In browser embed -->
            <iframe src="https://open.spotify.com/embed/playlist/<%=playlist.id%>?utm_source=generator" width="100%"
                height="380" frameBorder="0" allowfullscreen=""
                allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"></iframe>

            <!-- Checks user logged in -->
            <% if(currentUser){ %>
                <% let noDuplicate=true %>
                    <!-- Check if user already left review. Look into improving search time. -->
                    <% for (review in playlist.reviews) {%>
                        <% if(String(playlist.reviews[review]['author']['_id'])==String(currentUser._id)) {%>
                            <% noDuplicate=false %>
                                <% }%>
                                    <% }%>
                                        <!-- Checks user doesn't own post -->
                                        <% if (String(playlist.author._id) !==String(currentUser._id)) { %>
                                            <% if(noDuplicate) { %>
                                                <h2>Leave a Review</h2>
                                                <form action="/playlists/<%=playlist._id%>/reviews" method="POST"
                                                    class="mb-3 validated-form" novalidate>
                                                    <fieldset class="starability-basic">
                                                        <input type="radio" id="no-rate" class="input-no-rate"
                                                            name="review[rating]" value="1" checked
                                                            aria-label="No rating." />
                                                        <input type="radio" id="first-rate1" name="review[rating]"
                                                            value="1" />
                                                        <label for="first-rate1" title="Terrible">1 star</label>
                                                        <input type="radio" id="first-rate2" name="review[rating]"
                                                            value="2" />
                                                        <label for="first-rate2" title="Not good">2
                                                            stars</label>
                                                        <input type="radio" id="first-rate3" name="review[rating]"
                                                            value="3" />
                                                        <label for="first-rate3" title="Average">3 stars</label>
                                                        <input type="radio" id="first-rate4" name="review[rating]"
                                                            value="4" />
                                                        <label for="first-rate4" title="Very good">4
                                                            stars</label>
                                                        <input type="radio" id="first-rate5" name="review[rating]"
                                                            value="5" />
                                                        <label for="first-rate5" title="Amazing">5 stars</label>
                                                    </fieldset>
                                                    <div class="mb-3">
                                                        <label class="form-label" for="body">Review Text
                                                            (Optional)</label>
                                                        <textarea class="form-control" name="review[body]" id="body"
                                                            cols="30" rows="3"></textarea>
                                                        <div class="valid-feedback">
                                                            Looks good!
                                                        </div>
                                                    </div>
                                                    <button class="btn btn-success">Submit</button>
                                                </form>
                                                <% } %>
                                                    <% } %>
                                                        <% } %>
                                                            <%- include('../partials/displayreviews')%>

        </div>
    </div>

    <!-- Load social share buttons -->
    <script type="text/javascript">
        SocialShareKit.init({ forceInit: true });
    </script>